
<div class="container">
<h1>View club</h1>
<a href="/club" routerLink="/club" class="btn btn-primary">Back</a>
<div>
    <h2>Club Details</h2>
    <div>
        <strong>ID:</strong>
        <p>{{ club.id }}</p>
    </div>
    
    <div>
        <strong>Title:</strong>
        <p>{{ club.clubName }}</p>
    </div>
    <div>
        <strong>Country:</strong>
        <p>{{ club.country }}</p>
    </div>
    <div>
        <strong>Year Founded:</strong>
        <p>{{ club.yearFounded }}</p>
    </div>
</div>
</div>
